# Analyze Price Data

In [26]:
from datetime import datetime
import os
import pandas as pd

# Get Dates

In [21]:
def get_dates(root_folder):
    return sorted([datetime.strptime(file.split("_")[1].split(".")[0], '%d-%m-%Y') 
            for file in files if ".csv" in file])

In [22]:
root_folder = "raw_data"
dates = get_dates(root_folder)

# Get Data

In [41]:
def get_data(dates):
    data_list = [pd.read_csv("raw_data/data_{0}.csv".format(date.strftime('%d-%m-%Y'))) for date in dates]
    return pd.concat(data_list)

In [42]:
final_data = get_data(dates)

In [43]:
final_data

,Producto,Categoría,Anterior,Último,Diferencia,Medida,Tendencia,Fecha
0,Cereales,Trigo panificable,"0,00 / 0,00","147,00","147,00",Eur / Tm.,NaN,02-01-2006
1,Cereales,Cebada,"0,00 / 0,00","145,00","145,00",Eur / Tm.,NaN,02-01-2006
2,Cereales,Avena,"0,00 / 0,00","145,00","145,00",Eur / Tm.,NaN,02-01-2006
3,Cereales,Centeno,"0,00 / 0,00","139,00","139,00",Eur / Tm.,NaN,02-01-2006
4,Cereales,Maíz,"0,00 / 0,00","142,00","142,00",Eur / Tm.,NaN,02-01-2006
5,Leguminosas,Garbanzo pedrosillano,"0,00 / 0,00","600,00","600,00",Eur / Tm.,NaN,02-01-2006
6,Leguminosas,Lenteja de Salamanca,"0,00 / 0,00","0,00","0,00",Eur / Tm.,NaN,02-01-2006
7,Leguminosas,Lenteja armuña D.O.,"0,00 / 0,00","0,00","0,00",Eur / Tm.,NaN,02-01-2006
8,Forrajes,Forrajes (Avena),"0,00 / 0,00","0,00","0,00",Eur / Tm.,NaN,02-01-2006
9,Forrajes,Alfalfa empacada,"0,00 / 0,00","0,00","0,00",Eur / Tm.,NaN,02-01-2006
10,Forrajes,Veza henificada,"0,00 / 0,00","0,00","0,00",Eur / Tm.,NaN,02-01-2006
11,Forrajes,Paja paquete pequeño,"0,00 / 0,00","0,00","0,00",Eur / Tm.,NaN,02-01-2006
12,Forrajes,Paja paquete grande,"0,00 / 0,00","101,00","101,00",Eur / Tm.,NaN,02-01-2006
13,Lechazo,Hasta 11 Kg,"0,00 / 0,00","4,00","4,00",Eur / Kg. Vivo,NaN,02-01-2006
14,Lechazo,"11,01 a 13 KG.","0,00 / 0,00","3,65","3,65",Eur / Kg. Vivo,NaN,02-01-2006
15,Lechazo,"13,01 a 15 KG.","0,00 / 0,00","3,40","3,40",Eur / Kg. Vivo,NaN,02-01-2006
16,Cordero,"15,01 a 19 KG.","0,00 / 0,00","3,00","3,00",Eur / Kg. Vivo,NaN,02-01-2006
17,Cordero,"19,01 a 23 KG.","0,00 / 0,00","2,90","2,90",Eur / Kg. Vivo,NaN,02-01-2006
18,Cordero,"23,01 a 25,49 KG.","0,00 / 0,00","2,60","2,60",Eur / Kg. Vivo,NaN,02-01-2006
19,Cordero,"25,5 a 28 KG.","0,00 / 0,00","2,50","2,50",Eur / Kg. Vivo,NaN,02-01-2006
20,Cordero,"28,01 a 34 KG.","0,00 / 0,00","2,00","2,00",Eur / Kg. Vivo,NaN,02-01-2006
21,Oveja,Sacrificio,"0,00 / 0,00","3,00 / 6,00","3,00",Eur / Unidad,NaN,02-01-2006
22,Porcino blanco,Selecto,"0,00 / 0,00","1,07 / 1,08","1,07",Eur / Kg. Vivo,NaN,02-01-2006
23,Porcino blanco,Normal,"0,00 / 0,00","1,06 / 1,07","1,06",Eur / Kg. Vivo,NaN,02-01-2006
24,Oveja,Vida,"0,00 / 0,00","54,00 / 66,00","54,00",Eur / Unidad,NaN,02-01-2006
25,Porcino blanco,Graso,"0,00 / 0,00","1,17 / 1,18","1,17",Eur / Kg. Vivo,NaN,02-01-2006
26,Porcino blanco,Cerdas,"0,00 / 0,00","0,63 / 0,66","0,63",Eur / Kg. Vivo,NaN,02-01-2006
27,Lechón,Selecto,"0,00 / 0,00","46,00","46,00",Eur / Unidad,NaN,02-01-2006
28,Tostón,4 A 6 Kg,"0,00 / 0,00","32,00","32,00",Eur / Unidad,NaN,02-01-2006
29,Tostón,"6,01 A 8 Kg","0,00 / 0,00","35,00","35,00",Eur / Unidad,NaN,02-01-2006
...,...,...,...,...,...,...,...,...
97,Jamón Ibérico en Sangre,Bellota 100% IB,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Kg.,NaN,13-08-2018
98,Jamón Ibérico en Sangre,Bellota 75% IB,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Kg.,NaN,13-08-2018
99,Jamón Ibérico en Sangre,Bellota 50% IB,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Kg.,NaN,13-08-2018
100,Jamón Ibérico en Sangre,Cebo de campo,"6,66 / 7,16","6,63 / 7,13","-0,03",Eur / Kg.,NaN,13-08-2018
101,Jamón Ibérico en Sangre,Cebo,"5,90 / 6,10","5,87 / 6,07","-0,03",Eur / Kg.,NaN,13-08-2018
102,Paleta Ibérica en Sangre,Bellota 100 % IB,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Kg.,NaN,13-08-2018
103,Paleta Ibérica en Sangre,Bellota 75 % IB,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Kg.,NaN,13-08-2018
104,Paleta Ibérica en Sangre,Bellota 50 % IB,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Kg.,NaN,13-08-2018
105,Paleta Ibérica en Sangre,Cebo de campo,"3,25 / 3,45","3,25 / 3,45","0,00",Eur / Kg.,NaN,13-08-2018
106,Paleta Ibérica en Sangre,Cebo,"3,00 / 3,20","3,00 / 3,20","0,00",Eur / Kg.,NaN,13-08-2018
107,Magros,Magro de Bellota,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Kg.,NaN,13-08-2018
108,Magros,Extra,"2,90 / 3,00","2,90 / 3,00","0,00",Eur / Kg.,NaN,13-08-2018
109,Magros,Presa,"11,00 / 11,50","11,00 / 11,50","0,00",Eur / Kg.,NaN,13-08-2018
110,Magros,Presa Bellota,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Kg.,NaN,13-08-2018
111,Magros,Secreto,"10,80 / 11,25","10,85 / 11,30","0,05",Eur / Kg.,NaN,13-08-2018
112,Magros,Barriguera,"3,40 / 3,60","3,40 / 3,60","0,00",Eur / Kg.,NaN,13-08-2018
113,Magros,Solomillo,"7,05 / 7,55","7,10 / 7,60","0,05",Eur / Kg.,NaN,13-08-2018
114,Magros,Pluma de lomo,"12,25 / 12,55","12,25 / 12,55","0,00",Eur / Kg.,NaN,13-08-2018
115,Magros,Carrillera,"6,02 / 6,22","6,02 / 6,22","0,00",Eur / Kg.,NaN,13-08-2018
116,Magros,Abanico,"5,80 / 5,90","5,80 / 5,90","0,00",Eur / Kg.,NaN,13-08-2018
117,Magros,Lagarto,"6,15 / 6,25","6,15 / 6,25","0,00",Eur / Kg.,NaN,13-08-2018
118,Magros,Tapilla,"5,70 / 5,80","5,70 / 5,80","0,00",Eur / Kg.,NaN,13-08-2018
119,Despiece,Lomo Bellota,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Kg.,NaN,13-08-2018
120,Despiece,Lomo Cebo de Campo,"5,95 / 6,20","5,95 / 6,20","0,00",Eur / Kg.,NaN,13-08-2018
121,Despiece,Lomo Cebo,"5,80 / 6,00","5,80 / 6,00","0,00",Eur / Kg.,NaN,13-08-2018
122,Despiece,Panceta a cuadro,"1,15 / 1,25","1,15 / 1,25","0,00",Eur / Kg.,NaN,13-08-2018
123,Despiece,Tocino de Lomo,"0,63 / 0,73","0,63 / 0,73","0,00",Eur / Kg.,NaN,13-08-2018
124,Despiece,Costillas (Peladas),"1,05 / 1,15","1,05 / 1,15","0,00",Eur / Kg.,NaN,13-08-2018
125,Despiece,Grasas Industriales,"0,25 / 0,30","0,25 / 0,30","0,00",Eur / Kg.,NaN,13-08-2018
126,Despiece,Cabeza,"0,25 / 0,27","0,25 / 0,27","0,00",Eur / Kg.,NaN,13-08-2018

In [44]:
final_data[final_data["Categoría"]=="Cebada"]

,Producto,Categoría,Anterior,Último,Diferencia,Medida,Tendencia,Fecha
1,Cereales,Cebada,"0,00 / 0,00","145,00","145,00",Eur / Tm.,NaN,02-01-2006
1,Cereales,Cebada,"145,00","145,00","0,00",Eur / Tm.,NaN,09-01-2006
1,Cereales,Cebada,"145,00","145,00","0,00",Eur / Tm.,NaN,16-01-2006
1,Cereales,Cebada,"145,00","145,00","0,00",Eur / Tm.,NaN,23-01-2006
1,Cereales,Cebada,"145,00","144,00","-1,00",Eur / Tm.,NaN,30-01-2006
1,Cereales,Cebada,"144,00","143,00","-1,00",Eur / Tm.,NaN,06-02-2006
1,Cereales,Cebada,"143,00","142,00","-1,00",Eur / Tm.,NaN,13-02-2006
1,Cereales,Cebada,"142,00","141,00","-1,00",Eur / Tm.,NaN,20-02-2006
2,Cereales,Cebada,"141,00","140,00","-1,00",Eur / Tm.,NaN,27-02-2006
2,Cereales,Cebada,"140,00","138,00","-2,00",Eur / Tm.,NaN,06-03-2006
2,Cereales,Cebada,"138,00","137,00","-1,00",Eur / Tm.,NaN,13-03-2006
2,Cereales,Cebada,"137,00","135,00","-2,00",Eur / Tm.,NaN,20-03-2006
2,Cereales,Cebada,"135,00","133,00","-2,00",Eur / Tm.,NaN,27-03-2006
2,Cereales,Cebada,"133,00","132,00","-1,00",Eur / Tm.,NaN,03-04-2006
2,Cereales,Cebada,"132,00","130,00","-2,00",Eur / Tm.,NaN,10-04-2006
2,Cereales,Cebada,"130,00","127,00","-3,00",Eur / Tm.,NaN,17-04-2006
2,Cereales,Cebada,"127,00","125,00","-2,00",Eur / Tm.,NaN,24-04-2006
2,Cereales,Cebada,"0,00 / 0,00","120,00","120,00",Eur / Tm.,NaN,08-05-2006
2,Cereales,Cebada,"120,00","119,00","-1,00",Eur / Tm.,NaN,15-05-2006
2,Cereales,Cebada,"119,00","119,00","0,00",Eur / Tm.,NaN,22-05-2006
2,Cereales,Cebada,"119,00","119,00","0,00",Eur / Tm.,NaN,29-05-2006
2,Cereales,Cebada,"119,00","119,00","0,00",Eur / Tm.,NaN,05-06-2006
2,Cereales,Cebada,"0,00 / 0,00","0,00","0,00",Eur / Tm.,NaN,19-06-2006
2,Cereales,Cebada,"0,00","0,00","0,00",Eur / Tm.,NaN,26-06-2006
2,Cereales,Cebada,"0,00","112,00","112,00",Eur / Tm.,NaN,03-07-2006
2,Cereales,Cebada,"112,00","112,00","0,00",Eur / Tm.,NaN,10-07-2006
2,Cereales,Cebada,"112,00","113,00","1,00",Eur / Tm.,NaN,17-07-2006
2,Cereales,Cebada,"113,00","115,00","2,00",Eur / Tm.,NaN,24-07-2006
2,Cereales,Cebada,"115,00","116,00","1,00",Eur / Tm.,NaN,31-07-2006
2,Cereales,Cebada,"116,00","116,00","0,00",Eur / Tm.,NaN,07-08-2006
...,...,...,...,...,...,...,...,...
1,Cereales,Cebada,"184,00 / 0,00","183,00 / 0,00","-1,00",Eur / Tm.,NaN,29-01-2018
1,Cereales,Cebada,"183,00 / 0,00","183,00 / 0,00","0,00",Eur / Tm.,NaN,05-02-2018
1,Cereales,Cebada,"183,00 / 0,00","183,00 / 0,00","0,00",Eur / Tm.,NaN,12-02-2018
1,Cereales,Cebada,"183,00 / 0,00","183,00 / 0,00","0,00",Eur / Tm.,NaN,19-02-2018
1,Cereales,Cebada,"183,00 / 0,00","182,00 / 0,00","-1,00",Eur / Tm.,NaN,26-02-2018
1,Cereales,Cebada,"182,00 / 0,00","182,00 / 0,00","0,00",Eur / Tm.,NaN,05-03-2018
1,Cereales,Cebada,"182,00 / 0,00","182,00 / 0,00","0,00",Eur / Tm.,NaN,12-03-2018
1,Cereales,Cebada,"182,00 / 0,00","182,00 / 0,00","0,00",Eur / Tm.,NaN,19-03-2018
1,Cereales,Cebada,"182,00 / 0,00","182,00 / 0,00","0,00",Eur / Tm.,NaN,26-03-2018
1,Cereales,Cebada,"182,00 / 0,00","182,00 / 0,00","0,00",Eur / Tm.,NaN,02-04-2018
1,Cereales,Cebada,"182,00 / 0,00","182,00 / 0,00","0,00",Eur / Tm.,NaN,09-04-2018
1,Cereales,Cebada,"182,00 / 0,00","181,00 / 0,00","-1,00",Eur / Tm.,NaN,16-04-2018
1,Cereales,Cebada,"181,00 / 0,00","180,00 / 0,00","-1,00",Eur / Tm.,NaN,23-04-2018
1,Cereales,Cebada,"180,00 / 0,00","179,00 / 0,00","-1,00",Eur / Tm.,NaN,30-04-2018
1,Cereales,Cebada,"179,00 / 0,00","177,00 / 0,00","-2,00",Eur / Tm.,NaN,07-05-2018
1,Cereales,Cebada,"177,00 / 0,00","175,00 / 0,00","-2,00",Eur / Tm.,NaN,14-05-2018
1,Cereales,Cebada,"175,00 / 0,00","174,00 / 0,00","-1,00",Eur / Tm.,NaN,21-05-2018
1,Cereales,Cebada,"174,00 / 0,00","174,00 / 0,00","0,00",Eur / Tm.,NaN,28-05-2018
1,Cereales,Cebada,"174,00 / 0,00","176,00 / 0,00","2,00",Eur / Tm.,NaN,04-06-2018
1,Cereales,Cebada,"176,00 / 0,00","177,00 / 0,00","1,00",Eur / Tm.,NaN,11-06-2018
1,Cereales,Cebada,"177,00 / 0,00","0,00 / 0,00","-177,00",Eur / Tm.,NaN,18-06-2018
1,Cereales,Cebada,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Tm.,NaN,25-06-2018
1,Cereales,Cebada,"0,00 / 0,00","0,00 / 0,00","0,00",Eur / Tm.,NaN,02-07-2018
1,Cereales,Cebada,"0,00 / 0,00","153,00 / 0,00","153,00",Eur / Tm.,NaN,09-07-2018
1,Cereales,Cebada,"153,00 / 0,00","154,00 / 0,00","1,00",Eur / Tm.,NaN,16-07-2018
1,Cereales,Cebada,"154,00 / 0,00","155,00 / 0,00","1,00",Eur / Tm.,NaN,23-07-2018
1,Cereales,Cebada,"155,00 / 0,00","159,00 / 0,00","4,00",Eur / Tm.,NaN,30-07-2018
1,Cereales,Cebada,"159,00 / 0,00","165,00 / 0,00","6,00",Eur / Tm.,NaN,06-08-2018
1,Cereales,Cebada,"165,00 / 0,00","175,00 / 0,00","10,00",Eur / Tm.,NaN,13-08-2018
1,Cereales,Cebada,"165,00 / 0,00","175,00 / 0,00","10,00",Eur / Tm.,NaN,13-08-2018